h1 {
    font-size: 85px;
    color: #87afc7;
}

h3{
    color: #3e6c87;
}

p{
    text-align: justify;
}

.text-content {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

.emph {
    background-color:#3e6c87;
    color: white;
    padding: 5px;
    font-style: italic;
    font-weight: bold;
}


.nopadding {
    padding: 2 !important;
    margin: 2 !important;
    overflow-x: hidden;
 }


 .sidebar {
    
    height: 100%;
    width:100%;
    display:flex;
    flex-direction:column;


  }

.sidebar-child{
    width: 100%;
    height: 100%;
    padding: 20px 0;
    text-align: center;

    /*border: 5px solid black;*/

  }

.sidebar-column {
    
    z-index: 1000;
    border-right: 8px solid #3e6c87;
    overflow-y: hidden;
    background-color: #87afc7;

}

a {
    transition: transform .2s;
    text-decoration: none;
}

a:hover{

    
    transform: scale(1.2);
    color: #3e6c87; 
}

.icons{
    color:white;
}

.line-break{
    height:7px;
    width: 100%;
    background-color: #3e6c87;
}

#page-names-column{
    margin:0;
    padding:0;
    overflow-y: hidden;
    margin-left:-17%; /*-17%*/
    z-index: 1;
    background-color: rgba(255, 255, 255, 0);

    transition: 0.5s;

}


.page-names-containers{
    
    width:100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0);

    padding: 25px 0;
    text-align: left;
    vertical-align: middle;



}

.page-name-bars{

    width:100%;
    height:100%;

    background-color: #3e6c87;
    color: white;

    text-align: center;
    padding-top: 6px;
    padding-left: 5px;
    white-space: nowrap;

    font-size: 20px;

}

.behind-sidebar-container {
    height: 100%;
    width: 35%;

    display:flex;
    flex-direction:column;



}

#home-bar {
    visibility: hidden;
}

#green-bar {
    visibility: hidden;
}

#space-bar {
    visibility: hidden;
}

#healthcare-bar {
    visibility: hidden;
}

#engineering-bar {
    visibility: hidden;
}

#weather-bar {
    visibility: hidden;
}

#maths-bar {
    visibility: hidden;
}

#main_content {
    transition: 0.5s;
}

#replace-text-effect {

    text-align: center;

    position:absolute;
    color:#3e6c87;
    transition: 1s;
}